<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd ">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title>His Aussie burger is food for heroes or hungry teen-agers - include recipes | Sunset | Find Articles at BNET</title>
<meta name="description" content="His Aussie burger is food for heroes or hungry teen-agers - include recipes from Sunset in Home & Garden provided free by Find Articles." />
<meta name="keywords" content="Sunset {
var url = mboxfactorydefault.get(existingmboxname).geturl('http: //findarticles.com/p/articles/mi_m1216/is_n1_v181/ai_6791287');
}
Cooks / Recipes and menus {
var url = mboxfactorydefault.get(existingmboxname).geturl('http: //findarticles.com/p/articles/mi_m1216/is_n1_v181/ai_6791287');
}
His Aussie burger is food for heroes or hungry teen-agers - include recipes" />
<meta name="DC.title" content="His Aussie burger is food for heroes or hungry teen-agers - include recipes" />
<meta name="DC.publisher" content="Sunset" />
<meta name="DC.date" content="1988-07-01" />
<link rel="shortcut icon" href="/i/us/favicon_fa.ico" />
<style type="text/css" media="screen">
@import url('http://i.bnet.com/css/base.css');
@import url('http://findarticles.com/css/us/main.css');
</style>
<script type="text/javascript" src="http://i.bnet.com/js/temp.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/util1.js"></script>
<SCRIPT SRC="http://surveys.cnet.com/html/surveys/1253.js"></SCRIPT>
<script type="text/javascript" src="http://i.bnet.com/js/mbox.js"></script>
<script type="text/javascript">
function mboxTrackClick(existingMboxName {
var url = mboxfactorydefault.get(existingmboxname).geturl('http: //findarticles.com/p/articles/mi_m1216/is_n1_v181/ai_6791287');
}
trackedMboxName) {
var url = mboxfactorydefault.get(existingmboxname).geturl('http: //findarticles.com/p/articles/mi_m1216/is_n1_v181/ai_6791287');
}
</script>
</head>
<body class='EyeBrow'>
<div id="eyebrowsBanner">
<div id="eyebrowsInner">
<div class='rubics_netxp1_main' id='rbx_netxp1_parent'>
<script type='text/javascript'>
function do_rbx_ctrk_netxp1 (aElem {

}
iTrkId {

}
cTrkPrefix) {

}
if (!aElem.rbxCPrefixed) {

}
return true;
function do_rbx_itrk_netxp1 (parentId {

}
iTrkId {

}
iTrkUri) {

}
var imgId = iTrkId;
var imgElem = document.getElementById(imgId);
if (!imgElem) {

}
var imgElem = document.createElement('img');
if (!imgElem) {

}
imgElem.id = imgId;
imgElem.src = iTrkUri;
imgElem.alt = '';
imgElem.width = '1';
imgElem.height = '1';
parentElem.appendChild(imgElem);
return true;
</script>
On TV.com:
<a target='_top' onclick="return do_rbx_ctrk_netxp1(this {

}
'rbx_netxp1_1' {

}
'http://dw.com.com/rubicsclk?ver=2&amp;ts=2008.08.23.01.16.24&amp;edId=&amp;onId=&amp;ptId=&amp;sId=-2&amp;appId=19&amp;offId=2285&amp;unitId=45&amp;poolId=1&amp;f1=14&amp;f2=%2d0&amp;f3=%2d0&amp;alg=8&amp;&amp;opt=1&amp;linkPos=1&amp;destUrl=');" href='http://www.tv.com/video/14408/star-wars-clone-wars-trailer' class='xpromolink'>STAR WARS: THE CLONE WARS looks great</a>
<script type='text/javascript'>
//<![CDATA[
do_rbx_itrk_netxp1('rbx_netxp1_parent' {

}
'rbx_netxp1_1' {

}
'http://dw.com.com/rubicsimp/c.gif?ver=2&ts=2008.08.23.01.16.24&edId=&onId=&ptId=&sId=-2&appId=19&unitId=45&poolId=1&f1=14&f2=%2d0&f3=%2d0&alg=8&opt=1&off=2285 {

}
-1');
//]]>
</script>
</div>
ros [r20070521-1832-ronr-v1-13-5:1.13.5] c17-ad-rubics-ros7.cnet.com::3958090672 2008.08.23.01.16.24  ros t 0.0.0.0.1.1.1.1
<ul class="cnbLinks">
<li class="pad">BNET Business Network: </li>
<li><a href="http://www.bnet.com">BNET</a> |</li>
<li><a href="http://techrepublic.com.com">TechRepublic</a> |</li>
<li><a href="http://www.zdnet.com">ZDNet</a></li>
</ul>
</div> /eyebrowsInner
</div> /eyebrowsBanner
<div id="width">
<div id="header">
<a id="logo" href="http://www.bnet.com">
<img src="http://i.bnet.com/images/200701/logo_bnet_88x107.gif" width="88" height="107" alt="BNET: You make it work" />
</a>
<div id="tools">
<form method="get" action="http://jobfunctions.bnet.com/search.aspx" name="bnetSearch" class="multiSrch" id="multiSrch">
<ul class="clear">
<li id="srchAll"><a href="javascript:searchSwitch('srchAll');">All Bnet</a></li>
<li id="srchArt" class="on"><a href="javascript:searchSwitch('srchArt');">Articles</a></li>
<li id="srchLib"><a href="javascript:searchSwitch('srchLib');">Library</a></li>
<li id="srchStks"><a href="javascript:searchSwitch('srchStks');">Stocks</a></li>
<li id="srchDict"><a href="javascript:searchSwitch('srchDict');">Dictionary</a></li>
</ul>
<div id="bnetSearchBox" class="hidden">
<input type="text" name="q" size="30" value="Find business answers" onFocus="this.value=''" />
<button class="searchBtn" type="submit">Search</button>
</div> /bnetSearch
</form> main searchForm
<script language="javaScript" type="text/javascript">
function submitfaSearch() {

}
</script>
<form method="post" name="searchTop" id="searchTop" onsubmit="submitfaSearch(); return false;">
<div id="faSearch">
<script language="javaScript" type="text/javascript"> //
// state must be configured manually per item
// both here and in CSS
var state = new Array();
state['topArticles'] = 0;
state['allTimeArticles'] = 0;
state['fa_vsearch_col'] = 0;
//
</script>
<input type="hidden" name="qta" value="0" />
<a class="hidden" href="/p/advanced?tb=art">Advanced Search</a>
<input type="text" name="qt" id="qt" value="Find Articles" size="20" maxlength="255" onFocus="this.value=''" />
<span>in</span>
<select name="qf" id="artSelect">
<option value="all" >free and premium articles</option>
<option value="free" >free articles only</option>
<option value="premium" >premium articles only</option>
<option value="" ></option>
<option value="arts" >Arts</option>
<option value="auto" >Autos</option>
<option value="bus" >Business</option>
<option value="health" >Health</option>
<option value="home" >Home &amp; Garden</option>
<option value="news" >News</option>
<option value="ref" >Reference</option>
<option value="sports" >Sports</option>
<option value="comp" >Technology</option>
</select>
<input type="hidden" name="tb" value="art" /></td>
<button class="searchBtn" type="submit">Search</button>
</div> End search
</form>
<form name="prev">
<input type="hidden" name="qt" value="">
</form>
<ul class="borders">
<li><a href="http://membership.bnet.com/1320-4_23-45.html?path=http%3A%2F%2Fjobfunctions.bnet.com%2F" rel="nofollow">Login</a></li>
<li><a href="http://nl.bnet.com/acct_mgmt.sc?brand=bnet">Newsletters</a></li>
<li class="noBd"><a href="http://www.bnet.com/5263-13093-0.html">My BNET</a></li>
</ul>
</div> /tools
<ul id="nav">
<li id="today"><a href="http://www.bnet.com/">Today</a></li>
<li id="mgmt"><a href="http://www.bnet.com/2405-13055_23-41874.html">Management</a></li>
<li id="strategy"><a href="http://www.bnet.com/2405-13060_23-41877.html">Strategy</a></li>
<li id="workLife"><a href="http://www.bnet.com/2405-13067_23-41876.html">Work Life</a></li>
<li id="insight"><a href="http://blogs.bnet.com">Insight</a></li>
<li id="industry"><a href="http://industry.bnet.com">Industries</a></li>
<li id="bizLib"><a href="http://jobfunctions.bnet.com" class="on">Business Library</a></li>
<li id="video"><a href="http://www.bnet.com/2434-13722_23-162366.html">Video</a></li>
</ul>
<div id="premSpons">
php client madison [r20080627-1120-NewRTV]: 216.239.113.223 GET /html/BRAND=14/CLIENT:ID=CHEETAH/CNET%2dONTOLOGY%2dNODE%2dID=15433/HTTP_HOST=findarticles.com/HUB=cn/NCAT=13886%3A14023%3A13891%3A15433%3A/POS=100/PTYPE=2100/REMOTE_ADDR=76.15.41.14/SITE=23/SP=139/UA=Ruby+CSS+Parser%2F1.8.6+%28http%3A%2F%2Fcode.dunae.ca%2Fcss_parser%2F%29 HTTP/1.0
NO AD TEXT:COULD NOT MAP ( _MAPPINGS=&#39;BNET&#39; BRAND=&#39;14&#39; SITE=&#39;23&#39; SP=&#39;139&#39; CNET-PTYPE=&#39;00&#39; POS=&#39;100&#39; NCAT=&#39;13886:14023:13891:15433:&#39; CNET-PARTNER-ID=&#39;&#39; ) TO _RGROUP</div> /premSpons
</div> /header
<div>
<style type="text/css">
</style>
BEGIN WIDGET: FA NAVIGATION
<dl id="gums">
<dt>Find Articles in:</dt>
<dd><a name="&lid=AK03HG&pos=0" href="/p/articles/an_1">all</a></dd>
<dd><a name="&lid=AK03HG&pos=0" href="/p/articles/tn_bus">Business</a></dd>
<dd><a name="&lid=AK03HG&pos=0" href="/p/articles/tn_ref">Reference</a></dd>
<dd><a name="&lid=AK03HG&pos=0" href="/p/articles/tn_comp">Technology</a></dd>
<dd><a name="&lid=AK03HG&pos=0" href="/p/articles/tn_news">News</a></dd>
<dd><a name="&lid=AK03HG&pos=0" href="/p/articles/tn_sports">Sports</a></dd>
<dd><a name="&lid=AK03HG&pos=0" href="/p/articles/tn_health">Health</a></dd>
<dd><a name="&lid=AK03HG&pos=0" href="/p/articles/tn_auto">Autos</a></dd>
<dd><a name="&lid=AK03HG&pos=0" href="/p/articles/tn_arts">Arts</a></dd>
<dd><a name="&lid=AK03HG&pos=0" href="/p/articles/tn_home">Home & Garden</a></dd>
</dl>
END WIDGET
<div id="main" class="clear">
<div id="content" class="clear noBgImg">
WEBSIDESTORY CODE HBX1.0 (Universal)
COPYRIGHT 1997-2004 WEBSIDESTORY {

}
INC. ALL RIGHTS RESERVED. U.S.PATENT No. 6 {

}
393 {

}
479B1. MORE INFO:http://websidestory.com/privacy
<script language="javascript">
var _hbEC=0 {

}
_hbE=new Array;function _hbEvent(a {

}
b) {

}
var hbx=_hbEvent("pv");hbx.vpc="HBX0100u";hbx.gn="a.findarticles.com";
//CONFIGURATION VARIABLES
hbx.acct="DM56111415AN61EN3";
hbx.pn="His+Aussie+burger+is+food+for+heroes+or+hungry+teenagers++include";
hbx.pndef="title";
hbx.mlc="Publications/Free/Home and Garden/Sunset/Article";
hbx.ctdef="full";
hbx.lt="auto";
hbx.hc3="m1216";
hbx.hc4="gale";
</script><script language="javascript1.1" defer src="http://findarticles.com/js/hbx.js"></script>
END WEBSIDESTORY CODE
<style>body {
_background-position: 0 -17px;
}
.fa_dropdown_wrapper.left {
float: left;
}
.fa_dropdown_wrapper.right {
margin-right: 10px; float: right;
}
.fa_dropdown_wrapper h4 {
font-weight: bold; font-size: 11px; margin: 0; line-height: 1.5em; padding: 0;
}
.fa_dropdown_wrapper .fa_dropdown {
position: relative; float: left;
}
.fa_dropdown_wrapper .fa_dropdown img {
cursor: pointer;
}
.fa_dropdown_wrapper .fa_dropdown ul {
left: 1px; overflow: auto; margin: 0; background-color: #E8F0F2; border: 1px solid #9ba1ab; display: none; padding: 0; height: 100px; position: absolute; list-style-type: none; width: 177px; top: 13px;
}
.fa_dropdown_wrapper .fa_dropdown ul li {
font-size: 11px; line-height: 1.5em; padding: 2px 8px 4px;
}
.fa_dropdown_wrapper.left {
float: left;
}
.fa_dropdown_wrapper.right {
margin-right: 10px; float: right;
}
.fa_dropdown_wrapper h4 {
font-weight: bold; font-size: 11px; margin: 0; line-height: 1.5em; padding: 0;
}
.fa_dropdown_wrapper .fa_dropdown {
position: relative; float: left;
}
.fa_dropdown_wrapper .fa_dropdown img {
cursor: pointer;
}
.fa_dropdown_wrapper .fa_dropdown ul {
left: 1px; overflow: auto; margin: 0; background-color: #E8F0F2; border: 1px solid #9ba1ab; display: none; padding: 0; height: 100px; position: absolute; list-style-type: none; width: 177px; top: 13px;
}
.fa_dropdown_wrapper .fa_dropdown ul li {
font-size: 11px; line-height: 1.5em; padding: 2px 8px 4px;
}
</style>
<script language="JavaScript" type="text/javascript">
if (!state)
var state = new Array();
state['fa_974613137_dropdown'] = 0;
</script>
<div class="fa_dropdown_wrapper">
<h4>Find Featured Titles for: Home & Garden</h4>
<div class="fa_dropdown" onclick="explapse('fa_974613137_dropdown')"><img id="fa_974613137_dropdownExplapse" src="/i/us/btn-bar-ctview.gif" alt="click to hide" width="181" height="15" border="0" align="left" />
<ul id="fa_974613137_dropdown">
<li><a href="http://findarticles.com/p/articles/mi_qa3901">Air Classics</a></li>
<li><a href="http://findarticles.com/p/articles/mi_m0JAW">Art Culinaire</a></li>
<li><a href="http://findarticles.com/p/articles/mi_qa4128">Ask</a></li>
<li><a href="http://findarticles.com/p/articles/mi_m0HIJ">CPSC Monitor</a></li>
<li><a href="http://findarticles.com/p/articles/mi_qa3943">Chesapeake and Ohio Historical Magazine</a></li>
<li><a href="http://findarticles.com/p/articles/mi_qa4135">Click</a></li>
<li><a href="http://findarticles.com/p/articles/mi_m0HIF">Consumer Comments</a></li>
<li><a href="http://findarticles.com/p/articles/mi_m1264">Essence</a></li>
<li><a href="http://findarticles.com/p/articles/mi_m0EUB">Family Economics and Nutrition Review</a></li>
<li><a href="http://findarticles.com/p/articles/mi_m0PAV">Fathering</a></li>
<li><a href="http://findarticles.com/p/articles/mi_qa3897">Flight Journal</a></li>
<li><a href="http://findarticles.com/p/articles/mi_m0IBX">Girls' Life</a></li>
<li><a href="http://findarticles.com/p/articles/mi_m1026">Magazine Antiques</a></li>
<li><a href="http://findarticles.com/p/articles/mi_qa3819">Model Airplane News</a></li>
<li><a href="http://findarticles.com/p/articles/mi_qa3676">Southern Living</a></li>
<li><a href="http://findarticles.com/p/articles/mi_m1216">Sunset</a></li>
<li><a href="http://findarticles.com/p/articles/mi_m0820">Vegetarian Times</a></li>
</ul>
</div>
</div>
</div>
<div class="fa_footer_tools">
<div class="fa_dropdown_wrapper right">
BEGIN WIDGET: FA POPULAR RESULTS
<style type="text/css">
.fa_inline_results {
margin-right: 48px; clear: left; margin-top: 0; width: 220px;
}
.fa_inline_results.left {
margin-right: 48px; clear: left; margin-top: 0; width: 220px;
}
html* .fa_inline_results {
margin-right: 20px; width: 200px;
}
.fa_inline_results.left {
margin-right: 20px; width: 200px;
}
.fa_inline_results.right {
margin-right: 0; margin-left: 20px;
}
.fa_inline_results h4 {
padding-bottom: 4px; font-size: 8pt; margin: 0; line-height: 12px; border-bottom: 1px dotted #c3d2dc;
}
.fa_inline_results ul {
list-style-position: inside; margin: 0 0 15px; padding: 0; color: #3769DD; list-style-type: disc;
}
.fa_inline_results ul li {
margin: 0; padding: 0;
}
.fa_inline_results ul li.title {
font-weight: bold; color: #333; list-style-type: none;
}
.fa_inline_results ul li.articles {
color: #333; list-style-type: none;
}
</style>
<script language="JavaScript" type="text/javascript">
if (!state)
var state = new Array();
state['fa_178103551_dropdown'] = 0;
</script>
<div class="fa_dropdown_wrapper">
<h4><span>Most Popular</span> Articles in Home & Garden</h4>
<div class="fa_dropdown" onclick="explapse('fa_178103551_dropdown')"><img id="fa_178103551_dropdownExplapse" src="/i/us/btn-bar-ctview.gif" alt="click to hide" width="181" height="15" border="0" align="left" />
<ul id="fa_178103551_dropdown">
<li><a name='&lid=AH03HG&pos=1' href='http://findarticles.com/p/articles/mi_m0IBX/is_1_11/ai_n6151483?tag=pop.art1'>Coolest room on the block: have a bedroom that's way drab and boring? Hang ...</a></li><li><a name='&lid=AH03HG&pos=2' href='http://findarticles.com/p/articles/mi_m1216/is_3_210/ai_98123935?tag=pop.art2'>Reuse {
margin-right: 48px; clear: left; margin-top: 0; width: 220px;
}
recycle {
margin-right: 48px; clear: left; margin-top: 0; width: 220px;
}
remodel: environmentally friendly materials and techniques ...</a></li><li><a name='&lid=AH03HG&pos=3' href='http://findarticles.com/p/articles/mi_hb145/is_200507/ai_n15036640?tag=pop.art3'>Keeping it simple: interior designer Michael Lee finds an overdesigned ...</a></li><li><a name='&lid=AH03HG&pos=4' href='http://findarticles.com/p/articles/mi_hb071/is_200502/ai_n14942962?tag=pop.art4'>House of the Year: this craftsman-inspired home is factory-built--proving ...</a></li><li><a name='&lid=AH03HG&pos=5' href='http://findarticles.com/p/articles/mi_m1216/is_2_217/ai_n16620048?tag=pop.art5'>Dreaming of cabin life: smart ideas for small spaces {
margin-right: 48px; clear: left; margin-top: 0; width: 220px;
}
plus the hottest spots ...</a></li><li><a href="/"><strong>More</strong></a> &raquo;</li>
</ul>
</div>
</div>
END WIDGET: FA POPULAR RESULTS
</div>
BEGIN WIDGET: FA POPULAR RESULTS
<style type="text/css">
.fa_inline_results {
margin-right: 48px; clear: left; margin-top: 0; width: 220px;
}
.fa_inline_results.left {
margin-right: 48px; clear: left; margin-top: 0; width: 220px;
}
html* .fa_inline_results {
margin-right: 20px; width: 200px;
}
.fa_inline_results.left {
margin-right: 20px; width: 200px;
}
.fa_inline_results.right {
margin-right: 0; margin-left: 20px;
}
.fa_inline_results h4 {
padding-bottom: 4px; font-size: 8pt; margin: 0; line-height: 12px; border-bottom: 1px dotted #c3d2dc;
}
.fa_inline_results ul {
list-style-position: inside; margin: 0 0 15px; padding: 0; color: #3769DD; list-style-type: disc;
}
.fa_inline_results ul li {
margin: 0; padding: 0;
}
.fa_inline_results ul li.title {
font-weight: bold; color: #333; list-style-type: none;
}
.fa_inline_results ul li.articles {
color: #333; list-style-type: none;
}
