.yui-overlay {
visibility: hidden; z-index: 2; position: absolute;
}
.yui-panel-container {
visibility: hidden; z-index: 2; position: absolute;
}
.yui-tt {
visibility: hidden; background-color: #FDFFB4; border: 1px solid #FCC90D; padding: 2px; font-family: arial,helvetica,verdana,sans-serif; color: #333; font: 100% sans-serif; position: absolute; width: auto;
}
.yui-tt-shadow {
display: none;
}
* html body.masked select {
visibility: hidden;
}
* html div.yui-panel-container select {
visibility: inherit;
}
* html div.drag select {
visibility: hidden;
}
* html div.hide-select select {
visibility: hidden;
}
.mask {
opacity: .50; left: 0; -moz-opacity: 0.5; background-color: #CCC; filter: alpha(opacity=50); display: none; position: absolute; z-index: 1; top: 0;
}
.hide-scrollbars {
overflow: hidden;
}
.hide-scrollbars * {
overflow: hidden;
}
.hide-scrollbars select {
display: none;
}
.show-scrollbars {
overflow: auto;
}
.yui-panel-container.show-scrollbars {
overflow: visible;
}
.yui-panel-container.show-scrollbars .underlay {
overflow: auto;
}
.yui-panel-container .underlay {
left: 0; bottom: 0; position: absolute; right: 0; top: 0;
}
.yui-panel-container.matte {
background-color: #fff; padding: 3px;
}
.yui-panel-container.shadow .underlay {
opacity: .12; left: 3px; bottom: -3px; background-color: #000; filter: alpha(opacity=12); right: -3px; top: 3px;
}
.yui-panel-container.shadow .underlay.yui-force-redraw {
padding-bottom: 1px;
}
.yui-effect-fade .underlay {
display: none;
}
.yui-panel {
left: 0; visibility: hidden; overflow: hidden; border-collapse: separate; background-color: #FFF; border: 1px solid #000; font: 1em Arial; z-index: 1; position: relative; top: 0;
}
.yui-panel .hd {
font-weight: bold; font-size: 100%; line-height: 100%; background-color: #3d77cb; border-bottom: 1px solid #000; border: 1px solid #FFF; white-space: nowrap; padding: 4px; color: #FFF;
}
.yui-panel .bd {
overflow: hidden; padding: 4px;
}
.yui-panel .bd p {
margin: 0 0 1em;
}
.yui-panel .container-close {
visibility: inherit; background: url('http://i.mktw.net/mw3/yui/2.4.1/container/assets/close12_1.gif') no-repeat; margin: 0px; cursor: pointer; padding: 0px; height: 12px; z-index: 6; position: absolute; width: 12px; right: 4px; top: 5px;
}
.yui-panel .ft {
overflow: hidden; padding: 4px;
}
.yui-simple-dialog .bd .yui-icon {
margin-right: 10px; background-repeat: no-repeat; height: 16px; float: left; width: 16px;
}
.yui-simple-dialog .bd span.blckicon {
background: url('http://i.mktw.net/mw3/yui/2.4.1/container/assets/blck16_1.gif') no-repeat;
}
.yui-simple-dialog .bd span.alrticon {
background: url('http://i.mktw.net/mw3/yui/2.4.1/container/assets/alrt16_1.gif') no-repeat;
}
.yui-simple-dialog .bd span.hlpicon {
background: url('http://i.mktw.net/mw3/yui/2.4.1/container/assets/hlp16_1.gif') no-repeat;
}
.yui-simple-dialog .bd span.infoicon {
background: url('http://i.mktw.net/mw3/yui/2.4.1/container/assets/info16_1.gif') no-repeat;
}
.yui-simple-dialog .bd span.warnicon {
background: url('http://i.mktw.net/mw3/yui/2.4.1/container/assets/warn16_1.gif') no-repeat;
}
.yui-simple-dialog .bd span.tipicon {
background: url('http://i.mktw.net/mw3/yui/2.4.1/container/assets/tip16_1.gif') no-repeat;
}
.yui-dialog .ft {
padding-right: 5px; padding-bottom: 5px; text-align: right;
}
.yui-simple-dialog .ft {
padding-right: 5px; padding-bottom: 5px; text-align: right;
}
.yui-dialog form {
margin: 0;
}
.yui-simple-dialog form {
margin: 0;
}
.button-group button {
border-left-color: #FFF; margin: 2px; border-top-color: #FFF; cursor: hand; background-color: #E4E4E4; border: 2px solid #797979; text-decoration: none; padding: 2px; vertical-align: middle; color: #333; font: 100 76% verdana;
}
.button-group button.default {
font-weight: bold;
}
.button-group button:hover {
border-left-color: #FFF; border-top-color: #FFF; background-color: #EBF09E; border: 2px solid #90A029;
}
.button-group button.hover {
border-left-color: #FFF; border-top-color: #FFF; background-color: #EBF09E; border: 2px solid #90A029;
}
.button-group button:active {
border-left-color: #333; border-top-color: #333; background-color: #BBB; border: 2px solid #E4E4E4;
}
