body {
color: black; font: normal normal .75em/1em Helvetica, Arial, sans-serif;
}
textarea {
color: black; font: normal normal .75em/1em Helvetica, Arial, sans-serif;
}
body {
margin: 0 auto; padding: 0; text-align: left;
}
textarea {
font-size: 100%;
}
form {
margin: 0; border: none; padding: 0;
}
img {
border: 0;
}
h1 {
font-size: 240%; line-height: 100%;
}
p {
margin: 0; line-height: 120%; padding: 0 0 14px;
}
a:link {
text-decoration: none; color: #00c;
}
a:visited {
text-decoration: none; color: #00c;
}
a {
outline: none;
}
a:hover {
text-decoration: underline; color: #f00;
}
a:visited:hover {
text-decoration: underline; color: #f00;
}
.genericcenterwrap {
margin: 0 auto; padding: 0; width: 900px;
}
.clearall {
clear: both;
}
.floatleft {
float: left;
}
.floatright {
float: right;
}
#logo {
margin: 0; cursor: pointer; height: 74px; float: left; width: 200px;
}
#headfootwrap {
margin: 10px 0 0; padding: 0; width: 990px;
}
#wrapper {
padding-top: 156px; width: 990px;
}
#headernav {
margin: 0 auto; line-height: normal; padding: 0; height: 100px; position: absolute; top: 0; width: 990px;
}
#footer {
clear: both; margin: 0 auto; width: 100%;
}
#footer p {
font-size: 80%; margin: 0; padding: 10px 40px; color: #999; text-align: center; border-top: 1px solid #ccc;
}
#footer .links {
line-height: 120%;
}
#rightrail p {
font-size: 94%; color: #4e4e4e;
}
.priceup {
color: #090;
}
.pricedown {
color: #eb201d;
}
.mutedfont {
color: #7d7d7d;
}
.onefontsizedown {
font-size: 92%;
}
.twofontsizesdown {
font-size: 84%;
}
.zeropadding {
padding: 0;
}
.largebutton {
margin: 0; cursor: pointer; padding: 0;
}
.leftcapoff {
background: url('http://i.mktw.net/mw3/quotes/btn_standard_left.png') left no-repeat; height: 18px; float: left; width: 8px;
}
.buttonoff {
background: url('http://i.mktw.net/mw3/quotes/btn_standard_bkg.png') repeat-x; height: 18px; float: left;
}
.buttonoff p {
font-weight: bold; margin: 0; white-space: nowrap; padding: 2px 0 0; color: #333;
}
.buttonon p {
font-weight: bold; margin: 0; white-space: nowrap; padding: 2px 0 0; color: #333;
}
.buttonoff p a:link {
text-decoration: none; color: #000;
}
.buttonon p a:link {
text-decoration: none; color: #000;
}
.buttonoff p a:visited {
text-decoration: none; color: #000;
}
.buttonon p a:visited {
text-decoration: none; color: #000;
}
.buttonoff p a:hover {
text-decoration: none; color: #f26522;
}
.buttonon p a:hover {
text-decoration: none; color: #f26522;
}
.buttonoff p a:visited:hover {
text-decoration: none; color: #f26522;
}
.buttonon p a:visited:hover {
text-decoration: none; color: #f26522;
}
.rightcapoff {
background: url('http://i.mktw.net/mw3/quotes/btn_standard_right.png') right no-repeat; height: 18px; float: left; width: 8px;
}
.tablecontainer {
padding: 0;
}
.table {
width: 100%;
}
.table .th {
font-weight: bold; float: left;
}
.table .td {
padding: 2px 0; float: left;
}
.sixcol {
width: 16%;
}
.sixcolleftover {
width: 20%;
}
.fivecol {
width: 20%;
}
.fourcol {
width: 25%;
}
.threecol {
width: 33%;
}
.threecolleftover {
width: 34%;
}
.twocol {
width: 50%;
}
.onecol {
width: 100%;
}
.alignright {
text-align: right;
}
.aligncenter {
text-align: center;
}
.bold {
font-weight: bold;
}
.td p {
margin: 0; padding: 0;
}
.th p {
margin: 0; padding: 0;
}
.td p.rightspacing {
margin: 0 24px 0 0;
}
.premium {
font-family: Arial, Helvetica, sans-serif; color: Green;
}
