.header_recipes_appetizers-and-hors-doeuvres {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/appetizers-and-hors-doeuvres.png') no-repeat; width: 585px;
}
.header_recipes_baking_with_dorie {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/baking_with_dorie.png') no-repeat; width: 360px;
}
.header_recipes_beef {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/beef.png') no-repeat;
}
.header_recipes_breads {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/breads.png') no-repeat;
}
.header_recipes_breakfast-and-brunch {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/breakfast-and-brunch.png') no-repeat;
}
.header_recipes_cartoon-kitchen {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/cartoon-kitchen.png') no-repeat; width: 410px;
}
.header_recipes_cheese {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/cheese.png') no-repeat;
}
.header_recipes_classic-cookbooks {
background: url('http://www.seriouseats.com/imagesV2/headers/classicCookbooks.png') no-repeat;
}
.header_recipes_cocktail_concoctions {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/cocktail_concoctions.png') no-repeat;
}
.header_recipes_condiments-and-sauces {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/condiments-and-sauces.png') no-repeat;
}
.header_recipes_cook-the-book {
background: url('http://www.seriouseats.com/imagesV2/headers/cookTheBook.png') no-repeat;
}
.header_recipes_desserts {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/desserts.png') no-repeat;
}
.header_recipes_dinner_tonight {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/dinner-tonight.png') no-repeat;
}
.header_recipes_drinks {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/drinks.png') no-repeat;
}
.header_recipes_eggs {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/eggs.png') no-repeat;
}
.header_recipes_essentials {
background: url('http://www.seriouseats.com/imagesV2/headers/seriousEatsEssentials.png') no-repeat; width: 451px;
}
.header_recipes_gluten-free {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/gluten-free.png') no-repeat;
}
.header_recipes_healthy-and-delicious {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/healthy-and-delicious.png') no-repeat;
}
.header_recipes_lamb {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/lamb.png') no-repeat;
}
.header_recipes_mains {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/mains.png') no-repeat;
}
.header_recipes_pastas-and-grains {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/pastas-and-grains.png') no-repeat;
}
.header_recipes_pork {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/pork.png') no-repeat;
}
.header_recipes_poultry {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/poultry.png') no-repeat;
}
.header_recipes_sack-lunch {
background: url('http://www.seriouseats.com/imagesV2/headers/sackLunch.png') no-repeat;
}
.header_recipes_salads {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/salads.png') no-repeat;
}
.header_recipes_sandwiches {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/sandwiches.png') no-repeat;
}
.header_recipes_seafood {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/seafood.png') no-repeat;
}
.header_recipes_serious-sandwiches {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/seriousSandwiches.png') no-repeat;
}
.header_recipes_sides {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/sides.png') no-repeat;
}
.header_recipes_soups {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/soups.png') no-repeat;
}
.header_recipes_sunday-brunch {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/sundayBrunch.png') no-repeat;
}
.header_recipes_sunday-supper {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/sundaySupper.png') no-repeat;
}
.header_recipes_vegetarian {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/vegetarian.png') no-repeat;
}
.headerRecipeSearchResults {
background: url('http://www.seriouseats.com/imagesV2/headers/recipes/recipeSearchResults.png') no-repeat;
}
