.button img {
margin: 2 2 2 1;
}
.date {
font-weight: bold; font-size: 125%; margin: 6px; display: block; font-family: tahoma, arial, verdana;
}
.menu {
font-weight: bold; font-size: 10px; margin-top: 0px; cursor: pointer; background-color: #9AB3EC; border-right: 1px #455689 solid; border-bottom: 1px #455689 solid; display: block; padding: 3px; font-family: tahoma, arial; color: #1F2A8E; border-left: 1px #D5E4FD solid; text-align: left; border-top: 1px #D5E4FD solid;
}
.menuover {
font-weight: bold; font-size: 10px; margin-top: 0px; cursor: pointer; background-color: #4F63D3; border-right: 1px #455689 solid; border-bottom: 1px #455689 solid; display: block; padding: 3px; font-family: tahoma, arial; color: #AEC8FA; border-left: 1px #AEC8FA solid; text-align: left; border-top: 1px #AEC8FA solid;
}
.controlwhite td {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 2px; background-color: #FFFFFF; border: 0px; padding-left: 3px; vertical-align: middle; color: #000000;
}
tr.controlwhite td {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 2px; background-color: #FFFFFF; border: 0px; padding-left: 3px; vertical-align: middle; color: #000000;
}
.hover td {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; cursor: pointer; background-color: #98B5E2; padding-left: 3px; color: #FFFFFF;
}
td.hover {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; cursor: pointer; background-color: #98B5E2; padding-left: 3px; color: #FFFFFF;
}
.selected td {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #316AC5; padding-left: 3px; color: #FFFFFF;
}
td.selected {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #316AC5; padding-left: 3px; color: #FFFFFF;
}
.selected .hotword {
color: #FFFFFF;
}
.hover .hotword {
color: #FFFFFF;
}
.border {
margin: 0px; border: #dadada solid 1px; padding: 0px;
}
.odd td {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #F3F3FB; padding-left: 3px; color: #000000;
}
td.odd {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #F3F3FB; padding-left: 3px; color: #000000;
}
.popup {
font-weight: normal; margin-right: 8px; font-size: 70%; margin-bottom: 8px; background-color: #CFCDCD; margin-top: 8px; border: 0px; font-family: tahoma, arial, verdana; margin-left: 8px;
}
body {
scrollbar-arrow-color: #666666; font-size: x-small; margin: 0px; scrollbar-face-color: #D4D4D4; background-color: #FFFFFF; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; scrollbar-shadow-color: #D4D4D4; scrollbar-highlight-color: #D4D4D4; color: #000000; scrollbar-track-color: #EFEFEF; scrollbar-darkshadow-color: #BABABA; scrollbar-3dlight-color: #FFFFFF;
}
body.rt {
margin: 0px; background-color: #141414;
}
td {
font-size: x-small; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; color: #000000;
}
a:link {
text-decoration: underline; color: #1F2A8E;
}
a:hover {
text-decoration: none; color: #999999;
}
a:visited {
text-decoration: underline; color: #999999;
}
a:visited:hover {
text-decoration: none; color: #999999;
}
.rt a:link {
text-decoration: underline; color: #AEC8F9;
}
.rt a:hover {
text-decoration: none; color: #BFCBCB;
}
.rt a:visited {
text-decoration: underline; color: #BFCBCB;
}
.rt a:visited:hover {
text-decoration: none; color: #BFCBCB;
}
a.rtlink:link {
text-decoration: underline; color: #AEC8F9;
}
a.rtlink:hover {
text-decoration: none; color: #BFCBCB;
}
a.rtlink:visited {
text-decoration: underline; color: #BFCBCB;
}
a.rtlink:visited:hover {
text-decoration: none; color: #BFCBCB;
}
a.dynamic:link {
text-decoration: underline; color: #1F2A8E;
}
a.dynamic:hover {
text-decoration: none; color: #999999;
}
a.dynamic:visited {
text-decoration: underline; color: #1F2A8E;
}
a.dynamic:visited:hover {
text-decoration: none; color: #999999;
}
a.rtdynamic:link {
text-decoration: underline; color: #AEC8F9;
}
a.rtdynamic:hover {
text-decoration: none; color: #AEC8F9;
}
a.rtdynamic:visited {
text-decoration: underline; color: #AEC8F9;
}
a.rtdynamic:visited:hover {
text-decoration: none; color: #AEC8F9;
}
input {
font-size: 11px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
select {
font-size: 11px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
table.contenttable {
border: 0px; padding: 0px; width: 100%;
}
.title td {
padding-bottom: 1px; padding-right: 4px; font-weight: bold; font-size: 70%; padding-top: 1px; background-color: #7B84BE; border-bottom: 1px solid #666EA5; filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7B84BE', EndColorStr='#666EA5'); padding-left: 4px; color: #FFFFFF;
}
td.title {
padding-bottom: 1px; padding-right: 4px; font-weight: bold; font-size: 70%; padding-top: 1px; background-color: #7B84BE; border-bottom: 1px solid #666EA5; filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7B84BE', EndColorStr='#666EA5'); padding-left: 4px; color: #FFFFFF;
}
.title a:link {
font-weight: normal; text-decoration: underline; color: #FFFFFF;
}
.title a:hover {
font-weight: normal; text-decoration: none; color: #FFFFFF;
}
.title a:visited {
font-weight: normal; text-decoration: underline; color: #FFFFFF;
}
.title a:visited:hover {
font-weight: normal; text-decoration: none; color: #FFFFFF;
}
td.rttitle {
padding-bottom: 1px; padding-right: 4px; font-weight: bold; font-size: 70%; padding-top: 1px; background-color: #313894; border-bottom: 1px solid #182073; filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#313894', EndColorStr='#182073'); padding-left: 4px; color: #FFFFFF;
}
.subtitle td {
padding-bottom: 1px; padding-right: 4px; font-weight: bold; font-size: 70%; padding-top: 1px; background-color: #979EC8; border-bottom: 1px solid #868CB3; filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#979EC8', EndColorStr='#868CB3'); padding-left: 4px; color: #FFFFFF;
}
td.subtitle {
padding-bottom: 1px; padding-right: 4px; font-weight: bold; font-size: 70%; padding-top: 1px; background-color: #979EC8; border-bottom: 1px solid #868CB3; filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#979EC8', EndColorStr='#868CB3'); padding-left: 4px; color: #FFFFFF;
}
.columnheader td {
padding-right: 3px; padding-bottom: 1px; font-weight: bold; font-size: 65%; padding-top: 2px; background-color: #FFFFFF; border-bottom: 1px solid #777777; vertical-align: bottom; padding-left: 3px; color: #777777;
}
td.columnheader {
padding-right: 3px; padding-bottom: 1px; font-weight: bold; font-size: 65%; padding-top: 2px; background-color: #FFFFFF; border-bottom: 1px solid #777777; vertical-align: bottom; padding-left: 3px; color: #777777;
}
.topcolumnheader td {
padding-right: 3px; padding-bottom: 1px; font-weight: bold; font-size: 65%; padding-top: 2px; background-color: #FFFFFF; border-bottom: 1px solid #FFFFFF; vertical-align: middle; padding-left: 3px; color: #777777;
}
td.topcolumnheader {
padding-right: 3px; padding-bottom: 1px; font-weight: bold; font-size: 65%; padding-top: 2px; background-color: #FFFFFF; border-bottom: 1px solid #FFFFFF; vertical-align: middle; padding-left: 3px; color: #777777;
}
.columnheader a:link {
font-weight: bold; text-decoration: underline; color: #777777;
}
.columnheader a:hover {
font-weight: bold; text-decoration: none; color: #777777;
}
.columnheader a:visited {
font-weight: bold; text-decoration: underline; color: #777777;
}
.columnheader a:visited:hover {
font-weight: bold; text-decoration: none; color: #777777;
}
a.sort:link {
font-weight: bold; text-decoration: underline; color: #777777;
}
a.sort:hover {
font-weight: bold; text-decoration: none; color: #777777;
}
a.sort:visited {
font-weight: bold; text-decoration: underline; color: #777777;
}
a.sort:visited:hover {
font-weight: bold; text-decoration: none; color: #777777;
}
.even td {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #FFFFFF; padding-left: 3px; color: #000000;
}
td.even {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #FFFFFF; padding-left: 3px; color: #000000;
}
.footnote td {
padding-right: 3px; padding-bottom: 1px; font-size: 65%; padding-top: 1px; background-color: #EFEFEF; border-right: #999 1px solid; border-bottom: #999999 1px solid; padding-left: 3px; color: #666666; border-left: #FFF 1px solid; border-top: #FFF 1px solid; text-align: left;
}
td.footnote {
padding-right: 3px; padding-bottom: 1px; font-size: 65%; padding-top: 1px; background-color: #EFEFEF; border-right: #999 1px solid; border-bottom: #999999 1px solid; padding-left: 3px; color: #666666; border-left: #FFF 1px solid; border-top: #FFF 1px solid; text-align: left;
}
.total td {
padding-right: 3px; font-weight: bold; font-size: 70%; padding-top: 2px; background-color: #FFFFFF; padding-left: 3px; color: #000000; vertical-align: top; height: 1.97em; border-top: #CCCCCC 1px solid;
}
td.total {
padding-right: 3px; font-weight: bold; font-size: 70%; padding-top: 2px; background-color: #FFFFFF; padding-left: 3px; color: #000000; vertical-align: top; height: 1.97em; border-top: #CCCCCC 1px solid;
}
.totalnum {
font-size: 95%; border-bottom: #000000 3px double;
}
.spacer td {
height: 25px;
}
td.spacer {
height: 25px;
}
.rtodd td {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #141414; border-bottom: 0px solid #666666; border-right: 0px solid #666666; vertical-align: top; padding-left: 3px; color: #FFFFFF; border-left: 0px solid #B2B2B2; border-top: 0px solid #B2B2B2;
}
td.rtodd {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #141414; border-bottom: 0px solid #666666; border-right: 0px solid #666666; vertical-align: top; padding-left: 3px; color: #FFFFFF; border-left: 0px solid #B2B2B2; border-top: 0px solid #B2B2B2;
}
.rteven td {
padding-right: 3px; padding-bottom: 2px; font-size: 11px; padding-top: 1px; background-color: #1C1C1C; border-bottom: 0px solid #666666; border-right: 0px solid #666666; vertical-align: top; padding-left: 3px; color: #FFFFFF; border-left: 0px solid #B2B2B2; border-top: 0px solid #B2B2B2;
}
td.rteven {
padding-right: 3px; padding-bottom: 2px; font-size: 11px; padding-top: 1px; background-color: #1C1C1C; border-bottom: 0px solid #666666; border-right: 0px solid #666666; vertical-align: top; padding-left: 3px; color: #FFFFFF; border-left: 0px solid #B2B2B2; border-top: 0px solid #B2B2B2;
}
.rtcolumnheader td {
padding-right: 3px; padding-bottom: 1px; font-weight: bold; font-size: 70%; padding-top: 2px; background-color: #222222; border-bottom: 0px solid #666666; border-right: 0px solid #666666; vertical-align: top; padding-left: 3px; color: #999999; border-left: 0px solid #B2B2B2; border-top: 0px solid #B2B2B2;
}
td.rtcolumnheader {
padding-right: 3px; padding-bottom: 1px; font-weight: bold; font-size: 70%; padding-top: 2px; background-color: #222222; border-bottom: 0px solid #666666; border-right: 0px solid #666666; vertical-align: top; padding-left: 3px; color: #999999; border-left: 0px solid #B2B2B2; border-top: 0px solid #B2B2B2;
}
.rtcolumnheader a:link {
font-weight: bold; text-decoration: underline; color: #999999;
}
.rtcolumnheader a:hover {
font-weight: bold; text-decoration: none; color: #999999;
}
.rtcolumnheader a:visited {
font-weight: bold; text-decoration: underline; color: #999999;
}
.rtcolumnheader a:hover {
font-weight: bold; text-decoration: none; color: #999999;
}
a.rtsort:link {
font-weight: bold; text-decoration: underline; color: #999999;
}
a.rtsort:hover {
font-weight: bold; text-decoration: none; color: #999999;
}
a.rtsort:visited {
font-weight: bold; text-decoration: underline; color: #999999;
}
a.rtsort:hover {
font-weight: bold; text-decoration: none; color: #999999;
}
td.search {
padding-right: 5px; padding-bottom: 2px; font-size: 70%; padding-top: 2px; display: block; color: #000000; padding-left: 5px;
}
.search td {
padding-right: 5px; padding-bottom: 2px; font-size: 70%; padding-top: 2px; display: block; color: #000000; padding-left: 5px;
}
.changedown {
list-style-position: outside; color: #E94140; list-style-image: url('http://www.thomsononeim.com/style/icons/images/thomlet/arrow_down_red.gif');
}
.rtchangedown {
color: #E94140;
}
.changeup {
list-style-position: outside; color: #008001; list-style-image: url('http://www.thomsononeim.com/icons/images/thomlet/arrow_up_gr.gif');
}
.rtchangeup {
color: #46E46B;
}
td.vertdivider {
padding-right: 6px; padding-bottom: 2px; background-position: center; padding-top: 2px; background-repeat: repeat-Y; border-bottom: #FFFFFF 5px solid; background-image: url('http://www.thomsononeim.com/style/images/divider.gif'); padding-left: 6px; border-top: #FFFFFF 5px solid;
}
.headerlabel {
padding-right: 7px; padding-bottom: 2px; font-weight: bold; font-size: 80%; padding-top: 1px; border: 0px; padding-left: 3px; color: #1F2A8E;
}
.headerdata {
padding-right: 3px; padding-bottom: 2px; font-size: 80%; padding-top: 1px; border: 0px; padding-left: 3px; color: #333;
}
.rtvertdivider {
padding-right: 6px; padding-bottom: 2px; background-position: center; padding-top: 2px; background-repeat: repeat-Y; border-bottom: #FFFFFF 5px solid; background-image: url('http://www.thomsononeim.com/style/images/rtdivider.gif'); padding-left: 6px; border-top: #FFFFFF 5px solid;
}
.rtheaderlabel {
padding-right: 1px; padding-bottom: 2px; font-weight: bold; font-size: 80%; padding-top: 1px; border: 0px; padding-left: 3px; color: #AEC8F9;
}
.rtheaderdata {
padding-right: 3px; padding-bottom: 2px; font-size: 80%; padding-top: 1px; border: 0px; padding-left: 1px; color: #FFFFFF;
}
.tearcompany td {
padding-bottom: 2px; padding-right: 4px; font-weight: bold; font-size: 100%; padding-top: 1px; background-color: #FFFFFF; border: 0px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; padding-left: 4px; color: #000000;
}
.tearcompany {
padding-bottom: 2px; padding-right: 4px; font-weight: bold; font-size: 100%; padding-top: 1px; background-color: #FFFFFF; border: 0px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; padding-left: 4px; color: #000000;
}
.tearsymbol {
padding-bottom: 4px; padding-right: 3px; font-weight: bold; font-size: 70%; padding-top: 2px; background-color: #FFFFFF; border: 0px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; padding-left: 3px; color: #000000;
}
.tearaddy td {
padding-right: 3px; padding-bottom: 5px; font-size: 80%; padding-top: 4px; background-color: #FFFFFF; padding-left: 3px; color: #000000;
}
td.tearaddy {
padding-right: 3px; padding-bottom: 5px; font-size: 80%; padding-top: 4px; background-color: #FFFFFF; padding-left: 3px; color: #000000;
}
.control td {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 2px; background-color: #1F2A8E; border: 0px; padding-left: 3px; vertical-align: middle; color: #AEC8F9;
}
td.control {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 2px; background-color: #1F2A8E; border: 0px; padding-left: 3px; vertical-align: middle; color: #AEC8F9;
}
.control a:link {
text-decoration: underline; color: #AEC8F9;
}
.control a:hover {
text-decoration: none; color: #AEC8F9;
}
.control a:visited {
text-decoration: underline; color: #AEC8F9;
}
.control a:visited:hover {
text-decoration: none; color: #AEC8F9;
}
a.breadcrumb:link {
text-decoration: underline; color: #AEC8F9;
}
a.breadcrumb:hover {
text-decoration: none; color: #AEC8F9;
}
a.breadcrumb:visited {
text-decoration: underline; color: #AEC8F9;
}
a.breadcrumb:visited:hover {
text-decoration: none; color: #AEC8F9;
}
input.button {
padding-right: 2px; font-weight: bold; overflow: visible; font-size: 11px; margin: 2px; cursor: pointer; background-color: #4F63D3; border: 1px outset #88B2FE; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; vertical-align: middle; height: 19px; padding-left: 3px; color: #AEC8FA;
}
button {
padding-right: 2px; font-weight: bold; overflow: visible; font-size: 11px; margin: 2px; cursor: pointer; background-color: #4F63D3; border: 1px outset #88B2FE; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; vertical-align: middle; height: 19px; padding-left: 3px; color: #AEC8FA;
}
.graybutton {
padding-bottom: 2px; padding-right: 3px; font-weight: bold; overflow: visible; font-size: 11px; margin: 2px; padding-top: 2px; cursor: default; background-color: #B7B7B7; border-right: #999999 1px solid; border-bottom: #999999 1px solid; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; vertical-align: middle; height: 19px; padding-left: 4px; color: #E4E4E4; border-left: #E4E4E4 1px solid; border-top: #E4E4E4 1px solid;
}
td.rttab {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #000963; border-right: #1F2A8E 1px solid; border-bottom: #1F2A8E 1px solid; padding-left: 3px; border-left: 0px; border-top: 0px; text-align: center;
}
td.rtselecttab {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #141414; border-right: #1F2A8E 1px solid; border-bottom: 0px; padding-left: 3px; color: #AEC8F9; border-left: 0px; border-top: 0px; text-align: center;
}
a.rttablink:link {
text-decoration: underline; color: #AEC8F9;
}
a.rttablink:hover {
text-decoration: none; color: #AEC8F9;
}
a.rttablink:visited {
text-decoration: underline; color: #AEC8F9;
}
a.rttablink:visited:hover {
text-decoration: none; color: #AEC8F9;
}
td.lighttab {
padding-right: 3px; padding-bottom: 1px; font-size: 70%; padding-top: 1px; background-color: #88B2FE; border-right: #4455B5 1px solid; border-bottom: #4455B5 1px solid; padding-left: 3px; border-left: 0px; border-top: 0px; text-align: center;
}
td.selectlighttab {
padding-right: 3px; padding-bottom: 1px; font-size: 70%; padding-top: 1px; background-color: #FFFFFF; border-right: #4455B5 1px solid; border-bottom: 1px solid #FFFFFF; padding-left: 3px; color: #000000; border-left: 0px; border-top: 0px; text-align: center;
}
.lighttab a:link {
text-decoration: underline; color: #1F2A8E;
}
.lighttab a:hover {
text-decoration: none; color: #1F2A8E;
}
.lighttab a:visited {
text-decoration: underline; color: #1F2A8E;
}
.lighttab a:visited:hover {
text-decoration: none; color: #1F2A8E;
}
a.lightlink:link {
text-decoration: underline; color: #1F2A8E;
}
a.lightlink:hover {
text-decoration: none; color: #1F2A8E;
}
a.lightlink:visited {
text-decoration: underline; color: #1F2A8E;
}
a.lightlink:visited:hover {
text-decoration: none; color: #1F2A8E;
}
td.darktab {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #000963; border-right: #1F2A8E 1px solid; border-bottom: #1F2A8E 1px solid; padding-left: 3px; color: #AEC8F9; border-left: 0px; text-align: center;
}
td.selectdarktab {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #1F2A8E; border-right: 0px; border-bottom: 0px; padding-left: 3px; color: #AEC8F9; border-left: 0px; border-top: 0px; text-align: center;
}
a.darktablink:link {
text-decoration: underline; color: #AEC8F9;
}
a.darktablink:hover {
text-decoration: none; color: #AEC8F9;
}
a.darktablink:visited {
text-decoration: underline; color: #AEC8F9;
}
a.darktablink:visited:hover {
text-decoration: none; color: #AEC8F9;
}
body.message {
margin: 20px; background-color: #FFFFFF;
}
.messagetext {
font-size: 80%; color: #666666;
}
.messagebold {
padding-bottom: 4px; font-weight: bold; color: #000000;
}
table.errorarea {
padding-right: 6px; padding-bottom: 6px; padding-top: 6px; background-repeat: no-repeat; background-color: #FFFFCC; border: #999999 1px solid; background-image: url('http://www.thomsononeim.com/style/images/erroricon.gif'); padding-left: 40px; width: 100%;
}
table.infoarea {
padding-right: 6px; padding-bottom: 6px; font-size: 75%; padding-top: 6px; background-repeat: no-repeat; background-color: #EFEFEF; border: #999999 1px solid; background-image: url('http://www.thomsononeim.com/images/infoicon.gif'); padding-left: 40px; color: #666666; width: 100%;
}
body.tree {
margin: 0px; background-color: #000963;
}
body.lttree {
margin: 0px; background-color: #4455B5;
}
.treeheaderrow td {
padding-right: 5px; padding-bottom: 5px; font-weight: bold; font-size: 10px; padding-top: 3px; background-color: #000963; padding-left: 5px; color: #AEC8F9; border-top: #1F2A8E 1px solid;
}
.treeheaderrow {
padding-right: 5px; padding-bottom: 5px; font-weight: bold; font-size: 10px; padding-top: 3px; background-color: #000963; padding-left: 5px; color: #AEC8F9; border-top: #1F2A8E 1px solid;
}
.treeheaderrowover td {
padding-right: 5px; padding-bottom: 5px; font-weight: bold; font-size: 10px; padding-top: 3px; cursor: pointer; background-color: #000963; padding-left: 5px; color: #F7D001; border-top: #1F2A8E 1px solid;
}
.treeheaderrowover {
padding-right: 5px; padding-bottom: 5px; font-weight: bold; font-size: 10px; padding-top: 3px; cursor: pointer; background-color: #000963; padding-left: 5px; color: #F7D001; border-top: #1F2A8E 1px solid;
}
.tree1off td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 25px; color: #AEC8F9;
}
.tree1off {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 25px; color: #AEC8F9;
}
.tree1over td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 25px; color: #F7D001;
}
.tree1over {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 25px; color: #F7D001;
}
.tree1on td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #1F2A8E; padding-left: 25px; color: #F7D001;
}
.tree1on {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #1F2A8E; padding-left: 25px; color: #F7D001;
}
.tree1folder td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 15px; color: #AEC8F9;
}
.tree1folder {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 15px; color: #AEC8F9;
}
.tree1folderover td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 15px; color: #F7D001;
}
.tree1folderover {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 15px; color: #F7D001;
}
.tree2off td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 35px; color: #AEC8F9;
}
.tree2off {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 35px; color: #AEC8F9;
}
.tree2over td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 35px; color: #F7D001;
}
.tree2over {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 35px; color: #F7D001;
}
.tree2on td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #1F2A8E; padding-left: 35px; color: #F7D001;
}
.tree2on {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #1F2A8E; padding-left: 35px; color: #F7D001;
}
.tree2folder td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 25px; color: #AEC8F9;
}
.tree2folder {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 25px; color: #AEC8F9;
}
.tree2folderover td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 25px; color: #F7D001;
}
.tree2folderover {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 25px; color: #F7D001;
}
.tree3off td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 45px; color: #AEC8F9;
}
.tree3off {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 45px; color: #AEC8F9;
}
.tree3over td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 45px; color: #F7D001;
}
.tree3over {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 45px; color: #F7D001;
}
.tree3on td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #1F2A8E; padding-left: 45px; color: #F7D001;
}
.tree3on {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #1F2A8E; padding-left: 45px; color: #F7D001;
}
.tree3folder td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 35px; color: #AEC8F9;
}
.tree3folder {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 35px; color: #AEC8F9;
}
.tree3folderover td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 35px; color: #F7D001;
}
.tree3folderover {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 35px; color: #F7D001;
}
.tree4off td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 55px; color: #AEC8F9;
}
.tree4off {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 55px; color: #AEC8F9;
}
.tree4over td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 55px; color: #F7D001;
}
.tree4over {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 55px; color: #F7D001;
}
.tree4on td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #1F2A8E; padding-left: 55px; color: #F7D001;
}
.tree4on {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #1F2A8E; padding-left: 55px; color: #F7D001;
}
.tree4folder td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 45px; color: #AEC8F9;
}
.tree4folder {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #000963; padding-left: 45px; color: #AEC8F9;
}
.tree4folderover td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 45px; color: #F7D001;
}
.tree4folderover {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #000963; padding-left: 45px; color: #F7D001;
}
.lttreeheaderrow td {
padding-right: 5px; padding-bottom: 5px; font-weight: bold; font-size: 10px; padding-top: 3px; background-color: #4F63D3; padding-left: 5px; color: #AEC8F9; border-top: #4F63D3 1px solid;
}
.lttreeheaderrow {
padding-right: 5px; padding-bottom: 5px; font-weight: bold; font-size: 10px; padding-top: 3px; background-color: #4F63D3; padding-left: 5px; color: #AEC8F9; border-top: #4F63D3 1px solid;
}
.lttreeheaderrowover td {
padding-right: 5px; padding-bottom: 5px; font-weight: bold; font-size: 10px; padding-top: 3px; cursor: pointer; background-color: #4F63D3; padding-left: 5px; color: #FFFFFF; border-top: #4F63D3 1px solid;
}
.lttreeheaderrowover {
padding-right: 5px; padding-bottom: 5px; font-weight: bold; font-size: 10px; padding-top: 3px; cursor: pointer; background-color: #4F63D3; padding-left: 5px; color: #FFFFFF; border-top: #4F63D3 1px solid;
}
.lttree1off td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 25px; color: #AEC8F9;
}
.lttree1off {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 25px; color: #AEC8F9;
}
.lttree1over td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 25px; color: #FFFFFF;
}
.lttree1over {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 25px; color: #FFFFFF;
}
.lttree1on td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 25px; color: #FFFFFF;
}
.lttree1on {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 25px; color: #FFFFFF;
}
.lttree1folder td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 15px; color: #AEC8F9;
}
.lttree1folder {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 15px; color: #AEC8F9;
}
.lttree1folderover td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 15px; color: #FFFFFF;
}
.lttree1folderover {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 15px; color: #FFFFFF;
}
.lttree2off td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 35px; color: #AEC8F9;
}
.lttree2off {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 35px; color: #AEC8F9;
}
.lttree2over td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 35px; color: #FFFFFF;
}
.lttree2over {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 35px; color: #FFFFFF;
}
.lttree2on td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 35px; color: #FFFFFF;
}
.lttree2on {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 35px; color: #FFFFFF;
}
.lttree2folder td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 25px; color: #AEC8F9;
}
.lttree2folder {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 25px; color: #AEC8F9;
}
.lttree2folderover td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 25px; color: #FFFFFF;
}
.lttree2folderover {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 25px; color: #FFFFFF;
}
.lttree3off td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 45px; color: #AEC8F9;
}
.lttree3off {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 45px; color: #AEC8F9;
}
.lttree3over td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 45px; color: #FFFFFF;
}
.lttree3over {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 45px; color: #FFFFFF;
}
.lttree3on td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 45px; color: #FFFFFF;
}
.lttree3on {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 45px; color: #FFFFFF;
}
.lttree3folder td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 35px; color: #AEC8F9;
}
.lttree3folder {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 35px; color: #AEC8F9;
}
.lttree3folderover td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 35px; color: #FFFFFF;
}
.lttree3folderover {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 35px; color: #FFFFFF;
}
.lttree4off td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 55px; color: #AEC8F9;
}
.lttree4off {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 55px; color: #AEC8F9;
}
.lttree4over td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 55px; color: #FFFFFF;
}
.lttree4over {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 55px; color: #FFFFFF;
}
.lttree4on td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 55px; color: #FFFFFF;
}
.lttree4on {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 55px; color: #FFFFFF;
}
.lttree4folder td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 45px; color: #AEC8F9;
}
.lttree4folder {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 45px; color: #AEC8F9;
}
.lttree4folder td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 45px; color: #FFFFFF;
}
.lttree4folder {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; background-color: #4455B5; padding-left: 45px; color: #FFFFFF;
}
.lttree4folderover td {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 45px; color: #FFFFFF;
}
.lttree4folderover {
padding-right: 5px; padding-bottom: 4px; font-weight: bold; font-size: 10px; padding-top: 2px; cursor: pointer; background-color: #4455B5; padding-left: 45px; color: #FFFFFF;
}
.contentarea {
padding-right: 4px; padding-bottom: 4px; font-size: 11px; padding-top: 4px; background-color: #E2E2E2; margin-top: 0px; border-right: #888888 1px solid; border-bottom: #888888 1px solid; display: block; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; padding-left: 4px; color: #000000; border-left: #888888 1px solid; border-top: #888888 0px solid; width: 100%;
}
.contentnottab {
padding-right: 4px; padding-bottom: 4px; font-size: 11px; padding-top: 4px; background-color: #E2E2E2; margin-top: 0px; border-right: #888888 1px solid; border-bottom: #888888 1px solid; display: block; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; padding-left: 4px; color: #000000; border-left: #888888 1px solid; border-top: #888888 1px solid; width: 100%;
}
.buttonarea {
padding-top: 6px; text-align: right;
}
.popupcell {
padding-right: 0px; padding-bottom: 0px; font-size: 11px; padding-top: 0px; padding-left: 0px; vertical-align: top; color: #000000;
}
fieldset {
font-weight: normal; margin-right: 4px; padding-right: 6px; padding-bottom: 8px; margin-bottom: 4px; padding-top: 4px; border: 2px groove; display: block; padding-left: 6px; width: 100%; margin-left: 4px;
}
legend {
padding-bottom: 3px; padding-right: 2px; font-weight: normal; font-size: 11px; padding-top: 0px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; padding-left: 2px; color: #2C38A4;
}
.section {
font-weight: normal; margin-right: 10px; padding-bottom: 0px; margin-bottom: 4px; padding-top: 0px; margin-top: 4px; display: block; width: 100%; margin-left: 10px;
}
td.small {
padding-right: 2px; padding-bottom: 1px; font-size: 11px; padding-top: 1px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; padding-left: 2px;
}
td.popuptab {
padding-right: 8px; padding-bottom: 1px; font-size: 11px; padding-top: 1px; background-color: #AEC8FA; border-right: #888888 1px solid; border-bottom: #888888 1px solid; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; padding-left: 8px; border-left: #888888 1px solid; border-top: #888888 1px solid; text-align: center;
}
td.selectpopuptab {
padding-right: 8px; padding-bottom: 1px; font-size: 11px; padding-top: 1px; background-color: #E2E2E2; border-right: #888888 1px solid; border-bottom: 0px solid #E2E2E2; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; padding-left: 8px; color: #000000; border-left: #888888 1px solid; border-top: #888888 1px solid; text-align: center;
}
td.emptypopuptab {
padding-right: 3px; padding-bottom: 1px; font-size: 11px; padding-top: 1px; border-right: #888888 0px solid; border-bottom: #888888 1px solid; padding-left: 3px; color: #000000; border-left: #888888 0px solid; border-top: #888888 0px solid; text-align: center;
}
table.tabtable {
border-collapse: collapse; width: 100%;
}
.popuptab a:link {
text-decoration: underline; color: #1F2A8E;
}
.popuptab a:hover {
text-decoration: none; color: #1F2A8E;
}
.popuptab a:visited {
text-decoration: underline; color: #1F2A8E;
}
.popuptab a:visited:hover {
text-decoration: none; color: #1F2A8E;
}
.vertical {
border-right: 1px #999 solid;
}
tr.vertical td {
border-right: 1px #999 solid;
}
textarea {
font-size: 11px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.required {
color: #E94140;
}
.disabled {
background-color: #EFEFEF; color: #333333; padding-left: 2px;
}
.hotword {
font-weight: bold; color: #4F63D3;
}
.border {
border: #999999 1px solid;
}
.menuodd {
font-size: 70%; background-color: #BFCBCB; color: #000000;
}
.menueven {
font-size: 70%; background-color: #AEC8E9; color: #000000;
}
.menuoddlt {
font-size: 70%; background-color: #EFEFEF; color: #000000;
}
.menuevenlt {
font-size: 70%; background-color: #999999;
}
table.calendar {
border-collapse: collapse; width: 100%;
}
td.thismonth {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; cursor: pointer; border: #CCCCCC 1px solid; padding-left: 3px; color: #000;
}
td.othermonth {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #efefef; border: #CCCCCC 1px solid; padding-left: 3px;
}
td.today {
padding-right: 3px; padding-bottom: 2px; font-weight: bold; font-size: 70%; padding-top: 1px; cursor: pointer; background-color: #FFFFFF; border: #CCCCCC 1px solid; padding-left: 3px; color: #4F63D3;
}
.headline1 {
font-weight: bold; background-position: left center; font-size: 15px; margin-bottom: 20px; text-decoration: underline; display: block; font-family: tahoma, arial, verdana; color: #000066;
}
a.selectable:link {
text-decoration: none; padding: 2px; color: #1F2A8E;
}
a.selectable:hover {
background-color: #98B5E2; text-decoration: none; padding: 2px; color: #FFFFFF;
}
a.selectable:active {
background-color: #316AC5; text-decoration: none; padding: 2px; color: #FFFFFF;
}
a.selectable:visited {
text-decoration: none; padding: 2px; color: #1F2A8E;
}
a.selectable:visited:hover {
background-color: #98B5E2; text-decoration: none; padding: 2px; color: #FFFFFF;
}
a.selectable:visited:active {
background-color: #316AC5; text-decoration: none; padding: 2px; color: #FFFFFF;
}
.eventree td {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #FFFFFF; border-bottom: 1px solid #F3F3FB; vertical-align: top; padding-left: 3px; color: #000000;
}
td.eventree {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #FFFFFF; border-bottom: 1px solid #F3F3FB; vertical-align: top; padding-left: 3px; color: #000000;
}
.oddtree td {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #F3F3FB; border-bottom: 1px solid #FFFFFF; vertical-align: top; padding-left: 3px; color: #000000;
}
td.oddtree {
padding-right: 3px; padding-bottom: 2px; font-size: 70%; padding-top: 1px; background-color: #F3F3FB; border-bottom: 1px solid #FFFFFF; vertical-align: top; padding-left: 3px; color: #000000;
}
.indent1 {
text-indent: 25px;
}
.indent2 {
text-indent: 50px;
}
.indent3 {
text-indent: 75px;
}
.indent4 {
text-indent: 100px;
}
.indent5 {
text-indent: 125px;
}
.indent6 {
text-indent: 125px;
}
.tooltip {
cursor: help; border-bottom: 1px dotted #999999;
}
