body {
font-size: 11px; font-family: verdana;
}
body a {
font-weight: normal; font-size: 11px; text-decoration: underline; font-family: verdana; color: #1D536D;
}
body a:hover {
text-decoration: none; color: #1D536D;
}
select {
font-size: 10px; border: 1px solid #999999; font-family: Arial, Helvetica, sans-serif;
}
.arrow {
line-height: 19px; list-style-image: url('http://www.hostmonster.com/images/body-list-arrow.gif'); margin-left: 10px;
}
.webhost-border {
border: 1px solid #999999;
}
.host-login-inputbox {
font-size: 9px; border: 1px solid #1D536D; font-family: Arial, Helvetica, sans-serif; width: 100px;
}
.small-text {
font-size: 9px; font-family: verdana, Arial, Helvetica, sans-serif; color: #666666;
}
.red-text {
font-weight: bold; font-size: 11px; font-family: verdana, Arial, Helvetica, sans-serif; color: #FF0000;
}
.login-text {
font-weight: bold; font-size: 10px; font-family: verdana, Arial, Helvetica, sans-serif; color: #1D536D;
}
.border-left {
border-left: 1px solid #999999;
}
.border-right {
border-right: 1px solid #999999;
}
.body-padding {
padding-bottom: 10px; padding-right: 15px; padding-left: 15px;
}
.signup-row1 {
font-weight: bold; font-size: 11px; background-color: #FFFFFF; font-family: verdana; color: #666666; height: 30px; padding-left: 10px; border-left: 1px solid #cccccc;
}
.signup-row2 {
font-weight: bold; font-size: 11px; background-color: #FFF7E2; font-family: verdana; color: #666666; height: 30px; padding-left: 10px; border-left: 1px solid #cccccc;
}
.signup-row1b {
font-size: 11px; background-color: #FFFFFF; border-right: 1px solid #cccccc; font-family: verdana;
}
.signup-row2b {
font-size: 11px; background-color: #FFF7E2; border-right: 1px solid #cccccc; font-family: verdana;
}
.signup-bold {
font-weight: bold; color: #000000;
}
.inputbox {
font-size: 11px; border: 1px solid #999999; font-family: Arial, Helvetica, sans-serif; width: 200px;
}
.dropdown {
font-size: 10px; border: 1px solid #999999; font-family: Arial, Helvetica, sans-serif;
}
.header1 {
font-weight: bold; font-size: 14px; font-family: verdana, Arial, Helvetica, sans-serif; color: #2C5F74;
}
.maintext {
font-size: 11px; font-family: verdana;
}
.affiliate-link {
padding-bottom: 5px; font-weight: bold; font-size: 10px; padding-top: 5px; background-color: #848484; text-decoration: none; font-family: verdana; color: #FFFFFF;
}
.affiliate-link-sel {
padding-bottom: 5px; font-weight: bold; font-size: 11px; padding-top: 5px; background-color: #EEEEEE; text-decoration: none; font-family: verdana; color: #000000;
}
.affiliate-link:hover {
padding-bottom: 5px; font-weight: bold; font-size: 10px; padding-top: 5px; background-color: #EEEEEE; border-style: groove; border: thin; text-decoration: none; font-family: verdana; color: #000000;
}
a.smalllink:link {
font-weight: normal; font-size: 10px; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; color: #1D536D;
}
a.smalllink:active {
font-weight: normal; font-size: 10px; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; color: #1D536D;
}
a.smalllink:visited {
font-weight: normal; font-size: 10px; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; color: #1D536D;
}
a.smalllink:hover {
font-weight: normal; font-size: 10px; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; color: #1D536D;
}
a.redlink:link {
font-weight: normal; font-size: 11px; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000;
}
a.redlink:active {
font-weight: normal; font-size: 11px; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000;
}
a.redlink:visited {
font-weight: normal; font-size: 11px; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000;
}
a.redlink:hover {
font-weight: normal; font-size: 11px; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000;
}
.white {
font-weight: bold; font-size: 12px; font-family: verdana, Arial, Helvetica, sans-serif; color: #FFFFFF;
}
.options {
font-weight: bold; color: BLACK; font: 11px verdana,arial,sans-serif; letter-spacing: -1.0px;
}
.options-red {
font-weight: bold; color: RED; font: 11px verdana,arial,sans-serif; letter-spacing: -1.0px;
}
.bullet {
list-style-type: square;
}
.info_box {
width: 100%;
}
.info_box_bottom {
width: 100%;
}
.info {
border-bottom: 0px; border-right: 1px solid #cccccc; padding: 10px 0px; border-left: 1px solid #cccccc; border-top: 3px solid #bfe180;
}
.info_box table {
font-size: 11px; border-collapse: collapse; margin: 0px; border: 0px; border-spacing: 0px; padding: 0px;
}
.info_box table td {
font-size: 11px; border-collapse: collapse; margin: 0px; border: 0px; border-spacing: 0px; padding: 0px;
}
.info_box .info .label {
font-weight: bold; color: #666666; width: 208px;
}
.info_box .info .data {
width: 0px;
}
.bottom {
border-collapse: collapse; width: 100%;
}
.bottom .middle {
background: url('http://www.hostmonster.com/images/page-signup-whiteb2.gif'); width: 100%;
}
.nlButton {
background: #68AC03 url('http://www.hostmonster.com/dmc/hostmonster/dmButtonBg.gif') top repeat-x; text-decoration: none; border: solid 1px #76b802; padding: 4px; color: #FFFFFF; font: bold 11px Arial, Helvetica, sans-serif; text-align: center;
}
a.nlButton:hover {
border: 1px solid #333; text-decoration: none; color: #e6f0d5;
}
input.nlButton:hover {
border: 1px solid #333; text-decoration: none; color: #e6f0d5;
}
.infolist {
list-style-image: url('http://www.hostmonster.com/images/body-arrow2.gif');
}
.sec_header {
font-size: 20pt; color: #20526b;
}
.sec_underline {
background: #bfe381; height: 2px; width: 480px;
}
.sidebar {
background: #fff4d4;
}
.sidebar .header {
white-space: nowrap; padding: 10px;
}
