#ArchiveList .toggle {
cursor: pointer; font-family: Arial, sans-serif;
}
#ArchiveList .toggle-open {
line-height: 0.6em; _font-size: 1.7em;
}
#ArchiveList {
text-align: left;
}
#ArchiveList a.post-count-link {
text-decoration: none;
}
#ArchiveList a.post-count-link:link {
text-decoration: none;
}
#ArchiveList a.post-count-link:visited {
text-decoration: none;
}
#ArchiveList a.toggle {
text-decoration: none; color: inherit;
}
#ArchiveList a.toggle:link {
text-decoration: none; color: inherit;
}
#ArchiveList a.toggle:visited {
text-decoration: none; color: inherit;
}
#ArchiveList a.toggle:hover {
text-decoration: none; color: inherit;
}
.BlogArchive #ArchiveList ul li {
list-style-position: outside; list-style: none; background: none; text-indent: -15px; border-width: 0; background-image: none; padding-left: 15px; list-style-image: none; margin-left: 0;
}
.BlogArchive #ArchiveList ul ul li {
padding-left: 1.2em;
}
.BlogArchive #ArchiveList ul {
list-style: none; margin: 0; border-width: 0; padding: 0; list-style-image: none;
}
.BlogArchive #ArchiveList ul ul {
margin-top: 5px;
}
.BlogArchive #ArchiveList ul.posts li {
padding-left: 1.3em;
}
#ArchiveList .collapsed ul {
display: none;
}
